src/main/mule/mule-stateful.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="38166fc9-0f1f-44c8-9bbf-da3123565531" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<os:object-store name="Counter_store" doc:name="Object store" doc:id="46f7d839-9e6f-4498-8d2b-69b9cb392754" />
	<configuration-properties doc:name="Configuration properties" doc:id="dd59c7b2-8eab-4b47-aa7c-69b79ff97d2f" file="config.yaml" />
	<flow name="mule-statefulFlow" doc:id="16aa0730-8f7c-4de1-9513-5e3a9a16ff74" >
		<http:listener doc:name="GET /send" doc:id="3fb5dfd6-c62a-4203-a6a6-a099e9840014" config-ref="HTTP_Listener_config" path="/send" allowedMethods="GET"/>
		<os:retrieve doc:name="Retrieve currentCount" doc:id="bc7f5780-2433-4fb6-8334-75f97720cdcb" key="currentCount" objectStore="Counter_store" target="count" targetValue="#[payload as Number]">
			<os:default-value ><![CDATA[#[0]]]></os:default-value>
		</os:retrieve>
		<set-variable value="#[vars.count+1]" doc:name="increment count" doc:id="511ec3a1-0705-43ed-9208-910096deb786" variableName="count"/>
		<set-variable value="#[p('node')]" doc:name="Set node" doc:id="bdd32632-44f7-4b1d-82b1-12aa681ca140" variableName="node"/>
		<logger level="INFO" doc:name="Logger" doc:id="52c1384c-33c9-45f6-ad67-c6c911c51a7e" message="#['\n*** Node Called: ' ++ p('node')]"/>
		<ee:transform doc:name="Transform Message" doc:id="2f666d4c-3bfb-4e03-90a3-0e75f1e61758" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
	numsequenza: vars.count,
	nodo: vars.node as Number,
	prezzo: randomInt(1000),
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="Store" doc:id="81ad5f7a-e0f4-44f8-8142-179064b6226c" key="currentCount" objectStore="Counter_store">
			<os:value ><![CDATA[#[vars.count]]]></os:value>
		</os:store>
	</flow>
</mule>
